@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --primary-color: #00FF00; /* Neon Green */
    --secondary-color: #FFFFFF; /* White */
    --bg-color: #000000; /* Black */
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--bg-color);
    color: var(--primary-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpaperaccess.com/full/5277927.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#results {
    width: 350px; /* Approximated width from the image */
    height: 100px; /* Approximated height from the image */
    background-color: transparent;
    color: var(--primary-color);
    font-family: 'Fira Code', monospace;
    border: 2px solid var(--primary-color);
    border-radius: 50px; /* Rounded corners */
    padding: 10px;
    display: none;
    opacity: 0; /* Set to invisible initially for the fade-in effect */
    animation: fadeInBox 1s forwards; /* Fade in animation */
}

@keyframes fadeInBox {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.uncommon {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-right: .15em solid var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    width: 9ch;
    animation: typing 3s steps(9, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 9ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
}

button {
    opacity: 0;
    font-family: 'Fira Code', monospace;
    animation: fadeIn 1s forwards 3.5s;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--bg-color);
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(1rem); }
    to   { opacity: 1; transform: translate(0); }
}
