:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
}

body {
    font-family: 'Times New Roman', monospace;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://media.giphy.com/media/kWUiCZWEHaC08/giphy.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#results {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.uncommon {
    color: var(--primary-color);
    text-shadow: 0 0 12px var(--primary-color);
    font-weight: bold;
}

.hidden {
    display: none;
}

#showDialogButton, #changeProficiencyBtn {
    color: #000000; /* Neon Green */
    background-color: black;
    border: 2px solid #39FF14; /* Neon Green border */
    font-family: 'Fira Code', monospace;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

#showDialogButton:hover, #changeProficiencyBtn:hover {
    transform: translateY(-5px);
}

#dialogBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #00ff00;
    width: 600px;
    height: 600px;
    padding: 40px;
    background-color: #000000;
    z-index: 10;
    opacity: 1;  
    border-radius: 20px;  /* rounded rectangle */
    transition: opacity 0.5s;
    font-family: 'Courier New', monospace;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.header {
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
}

.cursor {
    border-left: 2px solid #000000;
    animation: blink 0.5s infinite;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-right: .15em solid var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    width: 9ch;
    animation: typing 3s steps(9, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 9ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
}

button {
    opacity: 0;
    font-family: 'Times New Roman', monospace;
    animation: fadeIn 1s forwards 3.5s;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--bg-color);
    cursor: pointer;
    transition: transform 0.2s, opacity 0.5s;
}

#currentProficiency.textContent {
    font-weight: bold; /* This makes the text bold */
}

#sliderContainer {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #222; /* Dark background */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
#sliderContainer {
    display: flex;
    justify-content: space-between;
    /* Other styles for your slider container */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

button:hover {
    transform: translateY(-5px);
}

.slider {
    margin-top: -40px; /* Negative value to move the slider up */
    /* Keep your other slider styles unchanged */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(1rem); }
    to   { opacity: 1; transform: translate(0); }
}
