@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --primary-color: #00FF00; /* Neon Green */
    --secondary-color: #FFFFFF; /* White */
    --bg-color: #000000; /* Black */
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--bg-color);
    color: var(--primary-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://raw.githubusercontent.com/DMills94/WordSense/main/IMG_4749.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-right: .15em solid var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    width: 12ch;
    animation: typing 4s steps(12, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 12ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
}

button {
    opacity: 0;
    font-family: 'Fira Code', monospace;
    animation: fadeIn 1s forwards 4.5s;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--bg-color);
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(1rem); }
    to   { opacity: 1; transform: translateY(0); }
}
